<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous" />

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>

    <script>
        var mymodule = angular.module("kuchModule", []);

        mymodule.controller("kuchController", function ($scope, $http) {
            $scope.jsonArray = [];
            $scope.emailid;//emailid ismodel
            $scope.oldpwd;
            $scope.newpwd;


            $scope.doFetchAll = function () {
                // alert();
                var url = "/change-pwd?kuchEmailid=" + $scope.emailid + "&kuchpwd=" + $scope.oldpwd + "&kuchpwd1=" + $scope.newpwd;
//api key
                $http.get(url).then(allGoodFx, someBadFx);
                function allGoodFx(response) {
                    //resp in JSON array
                    alert(JSON.stringify(response.data));
                    $scope.jsonArray = response.data;
                }

                function someBadFx(response) {
                    alert(JSON.stringify(response.data));
                }
            }
         
        });
    </script>

    <style>
      
        .card {
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);

        }

        

    #logo {
      border: 1px black solid;
      width: 40px;
      height: 40px;
      float: left;
      margin-top: -1px;
      background-image: url(/pics/Screenshot\ 2025-07-20\ 100601.png);
      background-size: contain;
      margin-left: 20px;
      border-radius: 50%;
      transition: ease all 1s;

    }

    #logo:hover {
      transform: scale(1.2);
      transition: ease all 1s;
    }

        /*open tricks in google to learn flex
        https://css-tricks.com/snippets/css/a-guide-to-flexbox/*/
    </style>
 <script>

        function showUser()
        {
            let activeUser=localStorage.getItem("activeUser");
            document.getElementById("welcome2").innerHTML=activeUser;
        }

        function doLogout(){
            localStorage.removeItem("activeUser");
            location.href="index.html";
        }
    </script>
</head>

<body bgcolor="white" ng-app="kuchModule" ng-controller="kuchController"  onload="showUser();">
    
   <nav class="navbar navbar-expand-lg bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center" href="#">
      <img src="/pics/Screenshot 2025-07-20 100601.png" id="logo" alt="" style="height: 40px;">
      <span class="ms-2 text-white fs-4 fst-italic">VICTORIANS</span>
    </a><button class="navbar-toggler text-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button><div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <div class="d-flex align-items-center text-white">
        <i class="fa-solid fa-rainbow me-2"></i> GREETS
        <span class="navbar-text ms-3" style="color: white;">
          .<span id="welcome">*</span>
        </span>
      </div>
    </div>
  </div>
    </nav>
  <center><br><br>
        <h1>Welcome to Your Player Dashboard</h1>
        <br>
    </center>
<br>
    <div class="container" style="width: 1100px;">
        <div class="row">
            <div class="col-md-3 ">
                <div class="card" style="width: 16rem; float: left;">
                    <img src="/pics/Screenshot 2025-07-12 005335.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <center>
                            <h5 class="card-title">My Profile</h5>
                        </center>
                        <p class="card-text"></p>
                        <center> <a href="profile.html" class="btn btn-dark">View Profile</a></center>
                    </div>
                </div>
            </div>
            <div class="col-md-3 ">
                <div class="card" style="width: 16rem; float: left;">
                    <img src="/pics/Screenshot 2025-07-12 001736.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <center>
                            <h5 class="card-title">Tournaments</h5>
                        </center>
                        <p class="card-text"></p>
                        <center> <a href="tournaments.html" class="btn btn-dark">Explore Tournaments</a></center>
                    </div>
                </div>
            </div>
            <div class="col-md-3 ">
                <div class="card" style="width: 16rem;float: left;">
                    <img src="/pics/Screenshot 2025-07-12 001847.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <center>
                            <h5 class="card-title">Settings</h5>
                        </center>
                        <p class="card-text"></p>
                        <center> <a href="" class="btn btn-dark" value="settings" data-bs-toggle="modal"
                                data-bs-target="#divSetting">Access Settings</a></center>
                    </div>
                </div>
            </div>
            <div class="col-md-3 ">

                <div class="card" style="width: 16rem; height: 365px; ">
                    <img src="/pics/Screenshot 2025-07-12 002003.png" class="card-img-top">
                    <div class="card-body">
                        <center>
                            <br>
                            <h5 class="card-title">Visit Again</h5>
                        </center>

                        <center> <a href="#" class="btn btn-dark" onclick="doLogout();">Log-Out</a></center>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- MODAL -->
    <div class="modal fade" tabindex="-1" id="divSetting">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-primary text-white">
                    <CENTER>
                        <h5 class="modal-title"><i class="fa-solid fa-gear"></i> SETTINGS </h5>
                    </CENTER>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>
                    <form>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Email address</label>
                            <input type="email" class="form-control" id="txtEmail" ng-model="emailid"
                                aria-describedby="emailHelp">
                            <div id="emailHelp" class="form-text"></div>

                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">OLD Password</label>
                            <input type="password" class="form-control" id="txtPwd" ng-model="oldpwd">
                        </div>

                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">NEW Password</label>
                            <input type="password" class="form-control" id="txtPwd" ng-model="newpwd">
                        </div>


                    </form>
                    </p>
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-primary" ng-click="doFetchAll() ">UPDATE</button>
                </div>
            </div>
        </div>
    </div>
    </center>
    </div>
   <nav class="navbar fixed-bottom bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" style="width:2000px; color: white;""><CENTER><i class="fa-solid fa-trophy" style="color: white;"></i> WARRIOR <i class="fa-solid fa-trophy" style="color: white;"></i></CENTER></a>
  </div>
</nav>
</body>

</html>