<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js"></script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bootstrap demo</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
      crossorigin="anonymous"
    ></script>

    <title>Document</title>
    <script>
      var mymodule = angular.module("kuchModule", []);

      mymodule.controller("kuchController", function ($scope, $http) {
        $scope.jsonArray = [];

        $scope.doFetchAll = function () {
          var url = "/do-fetch-all-players";

         
          $http.get(url).then(allGoodFx, someBadFx);
          function allGoodFx(response) {
            //resp in JSON array
           // alert(JSON.stringify(response.data));
            $scope.jsonArray = response.data;
          }

          function someBadFx(response) {
           // alert(JSON.stringify(response.data));
          }
        };
        
      
        //==================================================
        $scope.oneRecord={};
        $scope.doShowDetails=function(index)
        {
            //alert(JSON.stringify($scope.jsonArray[index]))
            $scope.oneRecord=$scope.jsonArray[index];

        }
    });
    </script>
    <style>
       #logo {
      border: 1px black solid;
      width: 40px;
      height: 40px;
      float: left;
      margin-top: -1px;
      background-image: url(/pics/Screenshot\ 2025-07-20\ 100601.png);
      background-size: contain;
      margin-left: 20px;
      border-radius: 50%;
      transition: ease all 1s;

    }

    #logo:hover {
      transform: scale(1.2);
      transition: ease all 1s;
    }
    </style>
  </head>
  <body
    ng-app="kuchModule"
    ng-controller="kuchController"
    ng-init="doFetchAll();"
  >

    <nav class="navbar bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="/pics/Screenshot 2025-07-20 100601.png" id="logo" alt="">
        <div class="d-inline-block align-text-top"
          style="color: white ;  margin-left: 10px; font-size: x-large; font-style: italic;"> VICTORIANS
        </div>
      </a>
    </div>
  <br>
  </nav>
    <center>
      
     <!-- <input type="button" value="Fetch All Records" ng-click="doFetchAll();" /> -->
      <h2>Player's Particular</h2>

      <div class="container">
        <div class="row">
          <div
            class="col-md-3  p-3 mb-2"      ng-repeat="obj in jsonArray" >
            <div class="card" >
          <!--   <img src={{obj.picurl1}} height="150" class="card-img-top" alt="..." />--> 

                <img src={{obj.picurl1}} height="150" class="card-img-top" alt="..." />

              <div class="card-body">
                <h5 class="card-title">
                    {{obj.emailid}}
                </h5>
                <p class="card-text">
                  {{obj.NAME}}
                </p>
                
                <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#detailsModal" ng-click="doShowDetails($index);">Details</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- ************************** -->
       
<!-- Modal -->
<div class="modal fade" id="detailsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
        <p>
             <img src={{oneRecord.picurl}} height="150" width="150"/>
        </p>
        <p>
            Emailid : {{oneRecord.emailid}}
        </p>
         <p>
            NAME : {{oneRecord.NAME}}
        </p>
         <p>
            Birthdate: {{oneRecord.dob}}
        </p>
         <p>
            Address : {{oneRecord.address}}
        </p>
         <p>
            GENDER: {{oneRecord.gender}}
        </p>
         <p>
            Contact: {{oneRecord.contact}}
        </p>
         <p>
            Your Game: {{oneRecord.sports}}
        </p>
         <p>
            Other Delegates: {{oneRecord.other}}
        </p>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
</center>
   <br><br>   
<nav class="navbar fixed-bottom bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" style="width:2000px; color: white;""><CENTER><i class="fa-solid fa-trophy" style="color: white;"></i> WARRIOR <i class="fa-solid fa-trophy" style="color: white;"></i></CENTER></a>
  </div>
</nav>
</body>
</html>